.smothscroll {
    position: fixed;
    bottom: 25px;
    right:30px;
    list-style: none;
    z-index: 99;
}
.smothscroll a {
    background-color: #00ff97;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius:5px;
    display: block;
    text-align: center;
    color: #00020f;
    background-size: 200%,1px;
    background-position: 0;
    border: 2px solid #00ff97;
}
.smothscroll a:hover {
    background-color: #00ff97;
    color: #00020f;
}

@media(max-width:767px){
    .smothscroll a {
        width: 30px;
        height: 30px;
        line-height: 25px;
    }
}